aside {
    -ms-overflow-style: none; /* Esconde a barra de rolagem no IE e Edge legados */
    scrollbar-width: none; /* Esconde a barra de rolagem no Firefox */
}

aside::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem no Chrome, Safari e navegadores WebKit */
}

.aside {
    background-color: var(--slate-200);
    height: 5rem;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.aside__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    /* overflow: scroll; */
    white-space: nowrap;
    gap: 0.5rem;
    height: 100%;
}

.aside__list__item {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--slate-800);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.aside__list__item:hover {
    border: 3px solid var(--slate-800);
    background-color: var(--slate-200);
    transform: translateY(-3px);
}

.aside__list__item:hover > a {
    color: var(--slate-800);
}

.aside__list__item > a {
    text-decoration: none;
    color: var(--slate-100);
}

/* lg */
@media (min-width: 1024px) {
    .aside {
        height: 100%;
        width: 7rem;
        padding: 0.5rem 0;
    }

    .aside__list {
        flex-direction: column;
    }
}

/* xl */
@media (min-width: 1280px) {
}
