body {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    height: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.btn-new {
    display: none;
}

@media (min-width: 1024px) {
    body {
        overflow: hidden;
    }

    header {
    }

    main {
        overflow-y: auto;
        height: calc(100vh - 5rem);
    }
}
