<aside class="aside">
    <ul class="aside__list">
        <% categories.forEach(categorie => { %>
        <li class="aside__list__item">
            <a href="#"><%= categorie.name %></a>
        </li>
        <% }) %>
    </ul>
</aside>
